Repository google/tsunami-security-scanner-plugins, pull requests merged in 2024-08, with the labels that each got.

#488 AI PRP: Request New Web Fingerprint for Kubeflow Model UI #422
  google/fingerprinters/web/scripts/updater/community/kubeflow/app/Dockerfile.kind
  google/fingerprinters/web/scripts/updater/community/kubeflow/app/app_startup.sh
  google/fingerprinters/web/scripts/updater/community/kubeflow/app/docker-compose.yml
  google/fingerprinters/web/scripts/updater/community/kubeflow/app/kind_startup.sh
  google/fingerprinters/web/scripts/updater/community/kubeflow/update.sh
  google/fingerprinters/web/scripts/updater/community/kubeflow/versions.txt
  google/fingerprinters/web/src/main/resources/fingerprinters/web/data/community/kubeflow.binproto
Labels: Contributor main, fingerprints, lgtm

#469 Moving Doyensec plugins to correct folder
  doyensec/README.md
  doyensec/detectors/kubernetes_rce_via_open_access/README.md
  doyensec/detectors/kubernetes_rce_via_open_access/build.gradle
  doyensec/detectors/kubernetes_rce_via_open_access/gradle/wrapper/gradle-wrapper.jar
  doyensec/detectors/kubernetes_rce_via_open_access/gradle/wrapper/gradle-wrapper.properties
  doyensec/detectors/kubernetes_rce_via_open_access/gradlew
  doyensec/detectors/kubernetes_rce_via_open_access/gradlew.bat
  doyensec/detectors/kubernetes_rce_via_open_access/settings.gradle
  doyensec/detectors/kubernetes_rce_via_open_access/src/main/java/com/google/tsunami/plugins/detectors/rce/kubernetes/RCEInKubernetesClusterWithOpenAccessDetector.java
  doyensec/detectors/kubernetes_rce_via_open_access/src/main/java/com/google/tsunami/plugins/detectors/rce/kubernetes/RCEInKubernetesClusterWithOpenAccessDetectorBootstrapModule.java
  doyensec/detectors/kubernetes_rce_via_open_access/src/main/resources/com/google/tsunami/plugins/detectors/rce/kubernetes/payloadFormatString.json
  doyensec/detectors/kubernetes_rce_via_open_access/src/test/java/com/google/tsunami/plugins/detectors/rce/kubernetes/RCEInKubernetesClusterWithOpenAccessDetectorWithCallbackServerTest.java
  doyensec/detectors/kubernetes_rce_via_open_access/src/test/java/com/google/tsunami/plugins/detectors/rce/kubernetes/RCEInKubernetesClusterWithOpenAccessDetectorWithOutCallbackServerTest.java
  doyensec/detectors/kubernetes_rce_via_open_access/src/test/java/com/google/tsunami/plugins/detectors/rce/kubernetes/TestHelper.java
  doyensec/detectors/kubernetes_rce_via_open_access/src/test/resources/com/google/tsunami/plugins/detectors/rce/kubernetes/validRCEResponse.json
  doyensec/detectors/selenium_grid_rce_via_exposed_server/README.md
  doyensec/detectors/selenium_grid_rce_via_exposed_server/build.gradle
  doyensec/detectors/selenium_grid_rce_via_exposed_server/gradle/wrapper/gradle-wrapper.jar
  doyensec/detectors/selenium_grid_rce_via_exposed_server/gradle/wrapper/gradle-wrapper.properties
  doyensec/detectors/selenium_grid_rce_via_exposed_server/gradlew
  doyensec/detectors/selenium_grid_rce_via_exposed_server/gradlew.bat
  doyensec/detectors/selenium_grid_rce_via_exposed_server/settings.gradle
  doyensec/detectors/selenium_grid_rce_via_exposed_server/src/main/java/com/google/tsunami/plugins/detectors/rce/selenium/RCEViaExposedSeleniumGridDetector.java
  doyensec/detectors/selenium_grid_rce_via_exposed_server/src/main/java/com/google/tsunami/plugins/detectors/rce/selenium/RCEViaExposedSeleniumGridDetectorBootstrapModule.java
  doyensec/detectors/selenium_grid_rce_via_exposed_server/src/main/resources/com/google/tsunami/plugins/detectors/rce/selenium/payloadFormatString.json
  doyensec/detectors/selenium_grid_rce_via_exposed_server/src/main/resources/com/google/tsunami/plugins/detectors/rce/selenium/payloadSeleniumUrl.json
  doyensec/detectors/selenium_grid_rce_via_exposed_server/src/main/resources/com/google/tsunami/plugins/detectors/rce/selenium/payloadSessionSettings.json
  doyensec/detectors/selenium_grid_rce_via_exposed_server/src/test/java/com/google/tsunami/plugins/detectors/rce/selenium/RCEViaExposedSeleniumGridDetectorWithCallbackServerTest.java
  doyensec/detectors/selenium_grid_rce_via_exposed_server/src/test/java/com/google/tsunami/plugins/detectors/rce/selenium/RCEViaExposedSeleniumGridDetectorWithOutCallbackServerTest.java
  doyensec/detectors/selenium_grid_rce_via_exposed_server/src/test/java/com/google/tsunami/plugins/detectors/rce/selenium/TestHelper.java
  doyensec/detectors/selenium_grid_rce_via_exposed_server/src/test/resources/com/google/tsunami/plugins/detectors/rce/selenium/validCreateSessionResponse.json
  doyensec/detectors/selenium_grid_rce_via_exposed_server/src/test/resources/com/google/tsunami/plugins/detectors/rce/selenium/validRCEResponse.json
  doyensec/detectors/selenium_grid_rce_via_exposed_server/src/test/resources/com/google/tsunami/plugins/detectors/rce/selenium/validSourceResponse.json
  doyensec/detectors/selenium_grid_rce_via_exposed_server/src/test/resources/com/google/tsunami/plugins/detectors/rce/selenium/validStatusResponse.json
Labels: enhancement

#300 Add updater script and fingerprint for Prometheus
  google/fingerprinters/web/scripts/updater/community/prometheus/update.sh
  google/fingerprinters/web/scripts/updater/community/prometheus/versions.txt
  google/fingerprinters/web/src/main/resources/fingerprinters/web/data/community/prometheus.binproto
Labels: Contributor main, fingerprints
