Repository google/tsunami-security-scanner-plugins, pull requests merged in 2025-07, with the labels that each got.

#526 AI PRP: Apache airflow default credential tester
  google/detectors/credentials/generic_weak_credential_detector/src/main/java/com/google/tsunami/plugins/detectors/credentials/genericweakcredentialdetector/GenericWeakCredentialDetectorBootstrapModule.java
  google/detectors/credentials/generic_weak_credential_detector/src/main/java/com/google/tsunami/plugins/detectors/credentials/genericweakcredentialdetector/testers/airflow/AirflowCredentialTester.java
  google/detectors/credentials/generic_weak_credential_detector/src/main/resources/detectors/credentials/genericweakcredentialdetector/data/service_default_credentials.textproto
  google/detectors/credentials/generic_weak_credential_detector/src/test/java/com/google/tsunami/plugins/detectors/credentials/genericweakcredentialdetector/testers/airflow/AirflowCredentialTesterTest.java
Labels: Contributor main, lgtm

#537 AI PRP: airbyte weak credentials
  google/detectors/credentials/generic_weak_credential_detector/src/main/java/com/google/tsunami/plugins/detectors/credentials/genericweakcredentialdetector/GenericWeakCredentialDetector.java
  google/detectors/credentials/generic_weak_credential_detector/src/main/java/com/google/tsunami/plugins/detectors/credentials/genericweakcredentialdetector/GenericWeakCredentialDetectorBootstrapModule.java
  google/detectors/credentials/generic_weak_credential_detector/src/main/java/com/google/tsunami/plugins/detectors/credentials/genericweakcredentialdetector/testers/airbyte/AirbyteCredentialTester.java
  google/detectors/credentials/generic_weak_credential_detector/src/main/resources/detectors/credentials/genericweakcredentialdetector/data/service_default_credentials.textproto
  google/detectors/credentials/generic_weak_credential_detector/src/test/java/com/google/tsunami/plugins/detectors/credentials/genericweakcredentialdetector/testers/airbyte/AirbyteCredentialTesterTest.java
  google/fingerprinters/web/src/main/java/com/google/tsunami/plugins/fingerprinters/web/WebServiceFingerprinter.java
Labels: lgtm, credentials

#668 CVE-2025-47889 - Jenkins WSO2 Oauth Plugin Fails to Properly Authenticate User Credentials
  templated/templateddetector/plugins/cve/2025/Jenkins_CVE_2025_47889.textproto
  templated/templateddetector/plugins/cve/2025/Jenkins_CVE_2025_47889_test.textproto
Labels: lgtm
